{% for item in menu %}
    <li class="index-{{ loop.index }}{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}{% if item|current %} current{% endif %}">
        <a href="{{ item.link }}" title="{{ item.title }}">
            {{item.label}}
        </a>
    </li>
{% endfor %}