<div class="bm20">
  <div class="icon"> <i class="icon-picons-{{ icon }} icn"></i> </div>
  <!-- /.icon -->
  <div class="text">
    <h5 class="upper"><a href="{{ url }}">{{ title }}</a></h5>
    <p>{{ desc }}</p>
  </div>
  <!-- /.text --> 
</div>
<!-- /.div -->