
  <div class="fullwidthbanner-container revolution">
    <div class="fullwidthbanner">
      <ul>
        <li data-transition="fade"> <img src="{{ paths.theme }}images/art/slider-bg3.jpg" alt="" />
          <div class="caption lft" data-x="0" data-y="140" data-speed="900" data-start="800" data-easing="Sine.easeOut"><img src="{{ paths.theme }}images/md_art/mac_pro_jp_app.png" alt="" /></div>
          <div class="caption lfr" data-x="395" data-y="270" data-speed="900" data-start="1500" data-easing="Sine.easeOut"><img src="{{ paths.theme }}images/md_art/ipad_jp_app.png" alt="" /></div>
          <div class="caption lfl" data-x="340" data-y="400" data-speed="900" data-start="1800" data-easing="Sine.easeOut"><img src="{{ paths.theme }}images/md_art/t_mobile_jp_app.png" alt="" /></div>
          <div class="caption sft lite dark" data-x="center" data-y="75" data-speed="400" data-start="2900" data-easing="Sine.easeOut">Redeeming Technology for Kingdom Work!</div>
          <div class="caption sfr lite" data-x="850" data-y="185" data-speed="400" data-start="3500" data-easing="Sine.easeOut"><i class="icon-picons-desktop"></i> Technology Driven</div>
          <div class="caption sfr lite" data-x="850" data-y="237" data-speed="400" data-start="4100" data-easing="Sine.easeOut"><i class="icon-picons-earth"></i> Mission Minded</div>
          <div class="caption sfr lite" data-x="850" data-y="289" data-speed="400" data-start="4700" data-easing="Sine.easeOut"><i class="icon-picons-users-2"></i> Community Focused</div>
          <div class="caption sfr lite" data-x="850" data-y="341" data-speed="400" data-start="5300" data-easing="Sine.easeOut"><i class="icon-picons-heart"></i> Donor Supported</div>
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.fullwidthbanner --> 
  </div>
  <!-- /.fullwidthbanner-container -->
