<div class="row">
  <div class="col-sm-6">

    <figure class="icon-overlay medium icn-link">
        <a href="/training/digerati-101">
            <span class="icn-more"></span>
            <img src="{{ paths.theme }}images/digerati101_img.png" title="Digerati 101">
        </a>
    </figure>
    <div class="image-caption">
        <h3>Digerati 101</h3>
        <span class="meta">A series of classes designed to teach individuals a variety of web and mobile programming languages.</span>
        <div class="text-right"><a href="/training/digerati-101" class="btn btn-blue">Learn More</a></div>
        <div class="credit">Photo By <a href="https://www.flickr.com/photos/gavinmusic/" target="_blank"> Gavin St. Ours</a></div>
    </div>
    
  </div>

  <div class="col-sm-6">

    <figure class="icon-overlay medium icn-link">
        <a href="/training/faith-and-tech">
            <span class="icn-more"></span>
            <img src="{{ paths.theme }}images/faith_and_tech_img.png" title="Faith &amp; Tech">
        </a>
    </figure>
    <div class="image-caption">
        <h3>Faith &amp; Tech</h3>
        <span class="meta">Training courses consisting of guided instruction and hands-on activities to equip believers to use current technology as a crucial ministry tool.</span>
        <div class="text-right"><a href="/training/faith-and-tech" class="btn btn-blue">Learn More</a></div>
        <div class="credit">Photo By <a href="https://www.flickr.com/photos/surfergirl30/" target="_blank">SurFeRGiRL30</a> | Phone By <a href="http://www.pixeden.com/" target="_blank">Pixeden</a></div>
    </div>
    
  </div>
  <div class="clearfix"></div>
</div>
<div class="divide30"></div>