
  <div class="fullwidthbanner-container revolution">
    <div class="fullwidthbanner">
      <ul>
        <li data-transition="fade"><img src="{{ paths.theme }}images/md_art/slideshow/poloroid-banner.jpg" alt="Banner people using mobile phones" /></li>
        <li data-transition="fade"><img src="{{ paths.theme }}images/md_art/slideshow/unreached-banner.jpg" alt="Unreached of the Day Mobile App" /></li>
        <li data-transition="fade"><img src="{{ paths.theme }}images/md_art/slideshow/ow-banner.jpg" alt="Operation World Mobile App" /></li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.fullwidthbanner -->
  </div>
  <!-- /.fullwidthbanner-container -->
