{% include '_header.twig' with { 'title': 'Projects' } %}

<body class="full-layout">
<div class="body-wrapper">

  {% include '_nav.twig' %}

  <div class="offset"></div>

  <div class="light-wrapper page-title">
    <div class="container inner">
      <h1>Projects</h1>
    </div>
  </div>

  <div class="dark-wrapper">
    <div class="container inner">
        {% setcontent current_project = 'projects' where { status: 'published', featured: '1' } limit 1 %}

        {% if current_project is defined and current_project is not empty %}
          {% set current_project_id = "" %}
          {% for project in current_project %}

              {% set current_project_id = project.id %}

              {% include '_project.twig' with {'project': project} %}

          {% endfor %}

        {% endif %}
        {% if page.tagline != '' %}
          <div class="section-title text-center">
            <h2>{{ page.tagline }}</h2>
            <span class="icon"><i class="icon-picons-{{ page.tagline_icon }}"></i></span>
          </div>
        {% endif %}
        {{ page.body_header }}
        <h2>Websites</h2>
        <div class="row">
            {% setcontent projects = 'projects' where { status: 'published', project_type: 'Website' } %}
            {% if projects is defined and projects is not empty %}
              {% for row in projects|batch(2) %}
                <div class="row">
                  {% for project in row %}
                    <div class="col-sm-6">
                        {% include '_project.twig' with {'project': project} %}
                    </div>
                  {% endfor %}
                  <div class="clearfix"></div>
                </div>
                <div class="divide20"></div>
              {% endfor %}
            {% endif %}
        </div>
        <h2>Mobile Applications</h2>
        <div class="row">
            {% setcontent projects = 'projects' where { status: 'published', project_type: 'App' } %}
            {% if projects is defined and projects is not empty %}
              {% for row in projects|batch(2) %}
                <div class="row">
                  {% for project in row %}
                    <div class="col-sm-6">
                        {% include '_project.twig' with {'project': project} %}
                    </div>
                  {% endfor %}
                  <div class="clearfix"></div>
                </div>
                <div class="divide20"></div>
              {% endfor %}
            {% endif %}
        </div>
        <h2>Other Technologies</h2>
        <div class="row">
            {% setcontent projects = 'projects' where { status: 'published', project_type: 'Other' } %}
            {% if projects is defined and projects is not empty %}
              {% for row in projects|batch(2) %}
                <div class="row">
                  {% for project in row %}
                    <div class="col-sm-6">
                        {% include '_project.twig' with {'project': project} %}
                    </div>
                  {% endfor %}
                  <div class="clearfix"></div>
                </div>
                <div class="divide20"></div>
              {% endfor %}
            {% endif %}
        </div>
        {% if page.body_footer != '' %}
          {{ page.body_footer }}
        {% endif %}
    </div>
  </div>

{% include '_footer.twig' %}

</div>
<!-- /.body-wrapper -->

{% include '_scripts.twig' %}
<script type="text/javascript">
  $(function() {
      $('.row .same-height').matchHeight(true);
  });
</script>

</body>
</html>
