{% include '_header.twig' %}

<body class="landing-page full-layout">
    <div class="body-wrapper">
        <div class="navbar basic default">
          <div class="navbar-header">
            <div class="container">
                <div class="basic-wrapper">
                    <a class="navbar-brand" href="http://missionaldigerati.org">
                        <img src="{{ paths.theme }}images/logo.png" data-at2x="{{ paths.theme }}images/logo@2x.png" alt="" />
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
          </div>
          <!--/.nav-collapse --> 
        </div>
        <!--/.navbar -->
        <div class="offset"></div>
        
        <div class="dark-wrapper">

        </div>

    {% include '_footer.twig' %}

    </div>
    <!-- /.body-wrapper --> 

    {% include '_scripts.twig' %}

</body>